#ARQUIVO ONDE FICA OS CODIGOS DAS BIBLIOTECAS/FRAMEWORS DO PROJETO
node_modules

#ARQUIVO ONDE FICA O CODIGO COMPILADO/BUILDADO (CODIGO QUE IRÁ SER O DE PRODUÇÃO). COMO ELE
#É GERADO AUTOMATICAMENTE AO EXECUTAR O "yarn build" NÃO TEM NECESSIDADE DE MANDAR PRO GIT.
#SO É USADO EM PRODUCAO O CODIGO QUE FICARÁ DENTRO DESTA PASTA.
/build

#ARQUIVO DE VARIAVEL DE AMBIENTE
.env

#ARQUIVOS DE LOGS/ERROS DE INSTALAÇÃO DE DEPENDÊNCIAS
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ARQUIVOS QUE SÃO CRIADOS AO EXECUTAR O SCRIPT DE INSTALAÇÃO DAS DEPENDENCIAS DO PROJETO
#yarn.lock -> APARECE SER O COMANDO FOR EXECUTADO COM O YARN, OU SEJA "yarn"
#package-lock.json -> APARECE SER O COMANDO FOR EXECUTADO COM O NPM, OU SEJA "npm start"

yarn.lock*
package-lock.json*


#ARQUIVOS DE CONFIGURAÇÕES DE PREFERENCIAS DAS IDES
.vscode
.idea